/* ********** Normalize ********** */
html,
body {
    height: 100%;
}

/* ********** Yii2 CSS configs ********** */

.wrap {
    height: auto;
    min-height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    padding-top: 20px;
    border-top: 1px solid #DDDDDD;
    background-color: #F5F5F5;
}

.jumbotron {
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    font-style: italic;
    color: #CC5555;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    font-family: 'Glyphicons Halflings', serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999999;
}

.error-summary {
    margin: 0 0 15px 0;
    padding: 10px 20px;
    color: #A94442;
    border-left: 3px solid #EED3D7;
    background: #FDF7F7;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        width: 100%;
        padding: 10px 15px;
        text-align: left;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ********** Custom CSS ********** */

/* ***** Comments section ***** */

.create-comment .action-buttons {
    display: none;
}

.create-comment.focused .action-buttons {
    display: block;
}

.comment-item {
    position: relative;
}

.comment-avatar {
    width: 50px;
}

.comment-actions {
    position: absolute;
    right: 0;
    top: 0;
}

.comment-actions .dropdown-toggle:before {
    display: none;
}

.comment-item .comment-edit-section {
    display: none;
}

.comment-item.edit .comment-text {
    display: none;
}

.comment-item.edit .comment-edit-section {
    display: block;
}
